<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/blog.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Frijole&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Viga&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    background="<%= back %>"
    style="
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;"
  >
    <img src="/images/up.png" height="60px" width="60px" id="look" />
    <header>
      <img
        id="icon"
        src="/images/icon.png"
        height="50px"
        width="50px"
        alt="icon"
      />
      <h1>Bl<font color="#fba100">o</font>pen</h1>
      <input class="nav-box" type="checkbox" id="res-btn" />
      <label class="res-btn" for="res-btn"><span></span></label>
      <img id="border2" src="/images/border 4.png" />
      <nav>
        <div class="social">
          <a
            href="https://www.facebook.com/Blopen-101448211510349/?modal=admin_todo_tour"
          >
            <img src="/images/fb.png" height="55px" width="55px" alt="Fb"
          /></a>
          <a href="https://www.instagram.com/Blopen_Blogger/">
            <img src="/images/insta.png" height="55px" width="55px" alt="Fb"
          /></a>
          <a href="https://twitter.com/RohanMurmu14">
            <img src="/images/tweet.png" height="55px" width="55px" alt="Fb" />
          </a>
        </div>
        <ul>
          <li>
            <a href="/"> Home</a>
          </li>

          <li>
            <a href="/trending"> Trending</a>
          </li>
          <li>
            <a href="/myBlogs"> My Blogs</a>
          </li>

          <li class="cat">
            <a href="/category">
              Categories
              <img
                id="arrow-down"
                src="/images/arrow-down.png"
                height="20px"
                width="20px"
                alt="icon"
                style="transform: rotate(-90deg);"
            /></a>
          </li>

          <li>
            <a href="/profile"> Profile </a>
          </li>
        </ul>
      </nav>
      <a href="/account">
        <img
          id="guest"
          src="<%= typeof file != `undefined`? file : '' %>"
          onerror="this.src='/images/guest.png';"
          height="60px"
          width="60px"
          alt="Account"
        />
        <span id="guest_des"><%= des %></span>
      </a>
      <img src="/images/border.png" id="border" />
    </header>
    <% if(result.length){ %>
    <div class="body">
      <img
        id="guestx"
        src="/images/uploaded/<%= result[0].Img %>"
        onerror="this.src='/images/guest.png';"
        height="75px"
        width="75px"
        alt="Account"
      />
      <h2 id="name"><%= result[0].Id %></h2>
      <h3 id="date">
        <%= result[0].Day %> <%= result[0].Month %> <%= result[0].Year %>
      </h3>
      <h1 id="head"><%= result[0].Heading %></h1>
      <pre id="para">
        <%= result[0].Paragraph %>
      </pre>
    </div>

    <% } else { %>

    <div class="body">
      <h1>Nothing</h1>
      <pre>
        This Blog is Empty
      </pre>
    </div>
    <% } %>

    <script>
      //This is avoid Flickering
    </script>
    <script type="text/javascript" src="/javascripts/look.js"></script>
  </body>
</html>
