<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/my.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Frijole&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Viga&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    background="<%= back %>"
    style=" 
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;"
  >
    <header>
      <img
        id="icon"
        src="images/icon.png"
        height="50px"
        width="50px"
        alt="icon"
      />
      <h1>Bl<font color="#fba100">o</font>pen</h1>
      <input class="nav-box" type="checkbox" id="res-btn" />
      <label class="res-btn" for="res-btn"><span></span></label>
      <img id="border2" src="images/border 4.png" />
      <nav>
        <div class="social">
          <a
            href="https://www.facebook.com/Blopen-101448211510349/?modal=admin_todo_tour"
          >
            <img src="images/fb.png" height="55px" width="55px" alt="Fb"
          /></a>
          <a href="https://www.instagram.com/Blopen_Blogger/">
            <img src="images/insta.png" height="55px" width="55px" alt="Fb"
          /></a>
          <a href="#">
            <img src="images/tweet.png" height="55px" width="55px" alt="Fb" />
          </a>
        </div>
        <ul>
          <li>
            <a href="/"> Home</a>
          </li>

          <li>
            <a href="/trending"> Trending</a>
          </li>
          <li>
            <a href="/myBlogs"> My Blogs</a>
          </li>

          <li class="cat">
            <a href="/category">
              Categories
              <img
                id="arrow-down"
                src="images/arrow-down.png"
                height="20px"
                width="20px"
                alt="icon"
                style="transform: rotate(-90deg);"
            /></a>
          </li>

          <li>
            <a href="/profile"> Profile </a>
          </li>
        </ul>
      </nav>
      <a href="/account">
        <img
          id="guest"
          src="<%= typeof file != `undefined`? file : '' %>"
          onerror="this.src='/images/guest.png';"
          height="60px"
          width="60px"
          alt="Account"
        />
        <span id="guest_des"><%= des %></span>
      </a>
      <img src="images/border.png" id="border" />
    </header>
    <div class="body">
      <h1 id="greet"><%= user %><font color="#fba100"> <%= user2 %></font></h1>
      <p id="mot">
        <font color="#e27d60"><%= one %></font><%= two %><font color="#e27d60">
          <%= three %></font
        >
      </p>
      <div class="post">
        <a href="/post"><span id="post">Post</span></a>
      </div>
    </div>

    <div id="#blogs" class="blogs">
      <img src="images/border 5.png" id="border3" />
      <% if(result.length){ for(var i = 0;i < result.length;i++) { %>
      <div class="view">
        <h3>
          <img
            id="guestx"
            src="/images/uploaded/<%= result[i].Img %>"
            onerror="this.src='/images/guest.png';"
            height="60px"
            width="60px"
            alt="Account"
            style="margin-right: 20px;"
          /><%= result[i].Id %>
        </h3>
        <h6>
          <%= result[i].Day %> <%= result[i].Month %> <%= result[i].Year %>
        </h6>
        <h2>
          <%= result[i].Heading %>
        </h2>

        <div class="opt">
          <a href="/edit/<%= result[i].BId %>"><span>Edit</span></a>
          <a href="/blog/<%= result[i].BId %>"><span>More</span></a>
          <a href="/delete/<%= result[i].BId %>"><span>Delete</span></a>
        </div>
        <p id="views" style="margin: 0; text-align: left; font-size: 12px;">
          <%= result[i].views ? result[i].views : 0 %><img
            src="/images/views.png"
            height="20px"
            width="20px"
            style="margin-left: 0.5em; position: relative;top:5px;"
          />
        </p>
      </div>
      <% } }else{ %>
      <div class="view">
        <h2>No Blogs Till Now</h2>
      </div>
      <% } %>
    </div>

    <script>
      //This is avoid Flickering
    </script>
    <script type="text/javascript" src="javascripts/look.js"></script>
    <footer></footer>
  </body>
</html>
