<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/profile.css" type="text/css" />
    <link
      href="https://fonts.googleapis.com/css?family=Frijole&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Viga&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <header>
      <img
        id="icon"
        src="/images/icon.png"
        height="50px"
        width="50px"
        alt="icon"
      />
      <h1>Bl<font color="#fba100">o</font>pen</h1>
      <input class="nav-box" type="checkbox" id="res-btn" />
      <label class="res-btn" for="res-btn"><span></span></label>
      <img id="border2" src="/images/border 4.png" />
      <nav>
        <div class="social">
          <a
            href="https://www.facebook.com/Blopen-101448211510349/?modal=admin_todo_tour"
          >
            <img src="/images/fb.png" height="55px" width="55px" alt="Fb"
          /></a>
          <a href="https://www.instagram.com/Blopen_Blogger/">
            <img src="/images/insta.png" height="55px" width="55px" alt="Fb"
          /></a>
          <a href="#">
            <img src="/images/tweet.png" height="55px" width="55px" alt="Fb" />
          </a>
        </div>
        <ul>
          <li>
            <a href="/"> Home</a>
          </li>

          <li>
            <a href="/trending"> Trending</a>
          </li>
          <li>
            <a href="/myBlogs"> My Blogs</a>
          </li>

          <li class="cat">
            <a href="/category">
              Categories
              <img
                id="arrow-down"
                src="/images/arrow-down.png"
                height="20px"
                width="20px"
                alt="icon"
                style="transform: rotate(-90deg);"
            /></a>
          </li>

          <li>
            <a href="/profile"> Profile </a>
          </li>
        </ul>
      </nav>
      <a href="/account">
        <img
          id="guest"
          src="<%= typeof file != `undefined`? file : '' %>"
          onerror="this.src='/images/guest.png';"
          height="60px"
          width="60px"
          alt="Account"
        />
        <span id="guest_des"><%= des %></span>
      </a>
      <img src="/images/border.png" id="border" />
    </header>
    <div class="body">
      <label for="file"
        ><img
          src="<%= typeof file != `undefined`? file : '' %>"
          onerror="this.src='/images/guest.png';"
          alt="profile"
          id="profile"
          height="150px"
          width="150px"
          accept="image/x-png,image/gif,image/jpeg"
        />
        <span id="dess">Change</span></label
      >
      <form
        action="/upload_pic"
        id="uppic"
        method="POST"
        enctype="multipart/form-data"
      >
        <input type="file" name="myImage" id="file" style="display: none;" />
      </form>
      <p id="error" style="color:red;"><%= msg %></p>
      <h2>&nbsp <%= user %></h2>
      <h2>&nbsp<%= email %></h2>
      <h2>&nbsp <%= num %> blogs posted</h2>
      <div class="opt">
        <a href="#"><span>Edit &nbsp; Account</span></a>
        <a href="#"><span id="del">Delete Account</span></a>
      </div>
    </div>
    <script>
      //This is avoid Flickering
    </script>
    <script type="text/javascript" src="/javascripts/look.js"></script>
    <script type="text/javascript">
      document.getElementById("uppic").onchange = function() {
        // submitting the form
        document.getElementById("uppic").submit();
      };
    </script>
    <footer></footer>
  </body>
</html>
