<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/silog.css" type="text/css" />
  </head>
  <body>
    <header>
      <img
        id="icon"
        src="images/icon.png"
        height="50px"
        width="50px"
        alt="icon"
      />
      <h1>Bl<font color="orange">o</font>pen</h1>
      <img src="images/border.png" id="border" />
    </header>
    <div class="body">
      <form id="log" action="/login" method="POST">
        <p><%= msg %></p>
        <h1 id="h1">log<font color="orange">In</font></h1>
        <br />
        <input
          type="email"
          name="Lemail"
          placeholder="Email"
          autocomplete="off"
        /><br />
        <input
          type="password"
          name="Lpass"
          placeholder="Password"
        /><br /><br /><button type="submit" id="Ssub">
          Log in
        </button>
      </form>
      <form id="sign" action="/signup" method="POST">
        <div class="error">
          <% if(msg2.Semail) { %>
          <p><%= msg2.Semail.msg %><% } %></p>
          <% if(msg2.Spass) { %>
          <p><%= msg2.Spass.msg %><% } %></p>
          <% if(msg2.Sname) { %>
          <p><%= msg2.Sname.msg %><% } %></p>
          <% if(msg2.Scpass) { %>
          <p><%= msg2.Scpass.msg %><% } %></p>
          <p><%= msg3 %></p>
          <p><%= msg4 %></p>
        </div>
        <h1 id="h1"><font color="orange">Sign</font> up</h1>
        <input
          name="Sname"
          type="text"
          placeholder="Userame Maximum 15 letters"
          autocomplete="off"
        />
        <br />
        <input
          name="Semail"
          type="email"
          placeholder="Email@email.com"
          autocomplete="off"
        /><br />
        <input
          name="Spass"
          type="password"
          placeholder="Password Minmum 8 letters"
        /><br /><input
          name="Scpass"
          type="password"
          placeholder="Confirm Password"
        /><br /><button type="submit" id="Ssub">Sign Up</button>
      </form>
    </div>
    <script src="https://npmcdn.com/js-alert/dist/jsalert.min.js"></script>
    <script>
      //This is to avoid Flickering
    </script>
  </body>
</html>
